.input {
  @apply py-2 px-3 rounded outline-none transition-all placeholder-gray-500;
  @apply ring-1 ring-gray-300 ring-inset;
  @apply hover:ring-primary-400;
  @apply focus:ring-2 focus:outline-none focus:ring-primary-400;
  @apply disabled:bg-gray-100 disabled:text-gray-500 disabled:cursor-not-allowed disabled:ring-gray-300;
}

.input-error {
  @apply ring-red-400;
  @apply hover:ring-red-400;
  @apply focus:ring-2 focus:ring-red-400 focus:outline-none;
}

.input-group {
  @apply flex flex-row align-middle;
  @apply py-2 px-3 rounded outline-none transition-all;
  @apply ring-1 ring-gray-300 ring-inset;
  @apply hover:ring-primary-400;
  @apply focus:ring-2 focus:outline-none focus:ring-primary-400;
  @apply focus-within:ring-2 focus-within:outline-none focus-within:ring-primary-400;
  @apply disabled:bg-gray-100 disabled:text-gray-500 disabled:cursor-not-allowed disabled:ring-gray-300;
}

.input-group-error {
  @apply ring-red-400;
  @apply hover:ring-red-400;
  @apply focus:ring-2 focus:ring-red-400 focus:outline-none;
  @apply focus-within:ring-2 focus-within:ring-red-400 focus-within:outline-none;
}

.input-group .input {
  @apply ring-0 p-0 pl-2;
}
