.btn {
  @apply flex place-content-center transition-all px-4 py-2 rounded;
  @apply text-white text-base font-light;
  @apply disabled:bg-gray-300 disabled:cursor-not-allowed disabled:ring-0;
}

.btn-primary {
  @apply bg-primary-600;
  @apply hover:bg-primary-500;
  @apply active:bg-primary-800 active:ring-2 active:ring-primary-500;
  @apply disabled:bg-gray-300 disabled:cursor-not-allowed disabled:ring-0;
}

.btn-secondary {
  @apply bg-primary-100 text-primary-600;
  @apply hover:bg-primary-200;
  @apply active:bg-primary-300 active:ring-2 active:ring-primary-500;
  @apply disabled:bg-gray-300 disabled:cursor-not-allowed disabled:ring-0;
}

.btn-outline {
  /* TODO: fix this */
  box-shadow: inset 0 0 0 1px var(--ds-primary-600, #4f46e5);

  @apply bg-white text-primary-600 border-primary-600;
  @apply hover:bg-primary-50;
  @apply active:bg-primary-200 active:ring-2 active:ring-primary-500;
  @apply disabled:bg-gray-300 disabled:cursor-not-allowed disabled:ring-0;
}
