:root {
  --ds-primary-50: #ecfdf5;
  --ds-primary-100: #d1fae5;
  --ds-primary-200: #a7f3d0;
  --ds-primary-300: #6ee7b7;
  --ds-primary-400: #34d399;
  --ds-primary-500: #10b981;
  --ds-primary-600: #059669;
  --ds-primary-700: #047857;
  --ds-primary-800: #065f46;
  --ds-primary-900: #064e3b;
}
