.default-primary {
  @apply bg-indigo-600;
  @apply hover:bg-indigo-500;
  @apply active:bg-indigo-800 active:ring-2 active:ring-indigo-500;
  @apply disabled:bg-gray-300 disabled:cursor-not-allowed disabled:ring-0;
}

.default-secondary {
  @apply bg-indigo-100 text-indigo-600;
  @apply hover:bg-indigo-200;
  @apply active:bg-indigo-300 active:ring-2 active:ring-indigo-500;
  @apply disabled:bg-gray-300 disabled:cursor-not-allowed disabled:ring-0;
}

.cool-primary {
  @apply bg-blue-600;
  @apply hover:bg-blue-500;
  @apply active:bg-blue-800 active:ring-2 active:ring-blue-500;
  @apply disabled:bg-gray-300 disabled:cursor-not-allowed disabled:ring-0;
}

.cool-secondary {
  @apply bg-blue-100 text-blue-600;
  @apply hover:bg-blue-200;
  @apply active:bg-blue-300 active:ring-2 active:ring-blue-500;
  @apply disabled:bg-gray-300 disabled:cursor-not-allowed disabled:ring-0;
}

.burnt-primary {
  @apply bg-yellow-600;
  @apply hover:bg-yellow-500;
  @apply active:bg-yellow-800 active:ring-2 active:ring-yellow-500;
  @apply disabled:bg-gray-300 disabled:cursor-not-allowed disabled:ring-0;
}

.burnt-secondary {
  @apply bg-yellow-100 text-yellow-600;
  @apply hover:bg-yellow-200;
  @apply active:bg-yellow-300 active:ring-2 active:ring-yellow-500;
  @apply disabled:bg-gray-300 disabled:cursor-not-allowed disabled:ring-0;
}

.candy-primary {
  @apply bg-pink-600;
  @apply hover:bg-pink-500;
  @apply active:bg-pink-800 active:ring-2 active:ring-pink-500;
  @apply disabled:bg-gray-300 disabled:cursor-not-allowed disabled:ring-0;
}

.candy-secondary {
  @apply bg-pink-100 text-pink-600;
  @apply hover:bg-pink-200;
  @apply active:bg-pink-300 active:ring-2 active:ring-pink-500;
  @apply disabled:bg-gray-300 disabled:cursor-not-allowed disabled:ring-0;
}
